.prepare_deliver{
    background-color: rgb(253, 226, 236);
    height: 30px;
    width: 80px;
    font-size: 10px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    color:rgb(196,59,91);
    font-weight: bold;
}

.finish_deliver{
    background-color: rgb(206,236,253);
    height: 25px;
    width: 80px;
    font-size: 10px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    color: rgb(96,162,204);
    font-weight: bold;
}

.wait_deliver{
    background-color: rgb(250, 233, 198);
    height: 30px;
    width: 80px;
    font-size: 10px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    color: rgb(247,177,15);
    font-weight: bold;
}

.wait_comment{
    background-color: rgb(241,221,244);
    height: 30px;
    width: 80px;
    font-size: 10px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    color: rgb(188,96,201);
    font-weight: bold;
}

.order_cancel{
    background-color: rgb(255, 0, 0);
    height: 30px;
    width: 80px;
    font-size: 10px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    color: rgb(255, 255, 255);
    font-weight: bold;
}

td{
    text-align: center;
}